.item-menu-for-mobile {
  display: none;
}

.item-menu-for-desktop {
  display: block;
}

@media screen and (max-width: 768px) {
  .item-menu-for-mobile {
    display: block;
  }

  .item-menu-for-desktop {
    display: none;
  }
}

.header--new {
  border-bottom: 1px solid;
  border-color: #EBEDEF;

  .button--icon {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    gap: 24px;
    padding-top: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid;
    border-color: #EBEDEF;
  }

  &__logo-link {
    transition: all 0.3s;
    display: block;

    svg {
      pointer-events: none;
      transition: all 0.3s;

      * {
        transition: all 0.3s;
      }
    }

    &:hover {
      svg path {
        fill: #303F82;
      }
    }

  }

  &__buttons {
    display: flex;
    max-width: 265px;
    gap: 24px;

    .button {
      padding-left: 20px;
      padding-right: 20px;
      height: 48px;
    }
  }

  .button--icon {
    transition: all 0.3s;
  }

  .button--icon:hover {
    svg path {
      stroke: #fff;
    }
  }

  .button-search {
    border: none;
  }

  .button-menu {
    border: none;
  }

  .button-menu.active::after {
    display: none;
  }

  &__main-button {
    display: none;
  }

  &__search-button {
    display: none;
  }

  &__tel {
    margin-left: auto;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  &__nav {
    width: calc(100% - 24px - 36px);
  }

  &__bottom-search {
    max-width: 36px;
  }

  .main-nav__list {
    justify-content: space-between;
  }

  .main-nav__link {
    padding: 10px 0 13px;
    font-size: 16px;
    line-height: 1.5;
  }

  .main-nav__sublist {
    max-width: 408px;
    padding: 25px 24px 27px 32px;
    line-height: 1.2;
    gap: 24px;
  }

  .search-form {
    box-shadow: none;
    display: none;
    border-top: 1px solid;
    border-color: #EBEDEF;
    position: relative;
    z-index: -1;
  }

  .main-nav-mobile__footer {
    display: none;
  }

  .main-nav__sublist--mob {
    max-width: 550px;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 70vh;

    li {
      width: calc(50% - 12px);
    }
  }

  @media (max-width: 1390px) {
    &__main-button {
      display: none;
    }

    &__search-button {
      display: none;
    }
  }

  @media (max-width: 1024px) {
    &__main-button {
      display: block;
    }

    &__search-button {
      display: block;
    }

    &__bottom-search {
      display: none;
    }

    &__nav {
      width: 100%;
      display: none;
    }

    &__top {
      padding: 0;
      border-bottom: none;
      position: relative;
    }

    .button-menu,
    .button-search {
      height: 80px;
      width: 80px;
    }

    &__main-button {
      display: flex;
    }

    .button-search {
      width: 79px;
      border-right: 1px solid;
      border-color: #EBEDEF;
    }

    .button-menu {
      width: 78px;
      border-right: 1px solid;
      border-left: 1px solid;
      border-color: #EBEDEF;
    }

    .main-nav-mobile {
      padding-top: 10px;
    }

    .main-nav-mobile__link {
      margin-bottom: 0;
    }

    .sticky .header--new__top {
      padding-top: 0;
    }

    .button-search {
      background: transparent !important;
      border-color: transparent !important;
      border-bottom: none !important;
      border-right: 1px solid !important;
      border-color: #EBEDEF !important;
    }


  }

  @media (max-width: 950px) {

    .button-menu,
    .button-search {
      height: 63px;
      width: 63px;
    }

    &__logo-link svg {
      width: 140px;
    }

    .tel-link {
      font-size: 16px;
    }

    &__buttons {
      gap: 16px;

      .button {
        padding-left: 16px;
        padding-right: 16px;
        height: 40px;
        font-size: 12px;
      }
    }

    .wrapper {
      padding-left: 20px;
      padding-right: 20px;
    }

    .mobile-main-nav {
      padding-left: 0;
      padding-right: 0;
    }

    .main-nav-mobile__footer {
      display: block;
      background: #EEF4F7;
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      padding: 22px 20px;

      p {
        color: #7895A6;
        font-weight: 600;
        font-size: 12px;
        margin: 0;
        margin-bottom: 16px;
      }
    }

    .main-nav-mobile__tel {
      margin-bottom: 16px;
    }

    .main-nav-mobile__buttons {
      display: flex;
      gap: 14px;
      width: 100%;
      max-width: 100%;

      .button {
        width: calc(50% - 7px);
        max-width: initial;
        font-size: 12px;
        padding-left: 16px;
        padding-right: 16px;

        &--white {
          background-color: #ffffff;
          color: #0098D0;
          border-color: #0098D0;
        }
      }
    }


  }

  @media (max-width: 768px) {
    .mobile-main-nav {
      width: 100%;
      max-width: 100%;
    }

    .main-nav-mobile__item:last-child {
      &::after {
        display: none;
      }
    }
  }

  @media (max-width: 750px) {
    &__tel {
      display: none;
    }

    &__buttons {
      display: none;
    }

  }

  @media (max-width: 425px) {
    .wrapper {
      padding-left: 10px;
      padding-right: 10px;
    }

    .main-nav-mobile__footer {
      padding-left: 15px;
      padding-right: 15px;
    }
  }


}



.menu-search {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: all 0.3s;
  cursor: pointer;

  svg {
    pointer-events: none;
    transition: all 0.3s;

    * {
      transition: all 0.3s;
    }
  }

  &:hover {

    svg circle {
      stroke: #007FAE;
    }

    svg path {
      stroke: #007FAE;
    }
  }
}

.header-search-active {
  .header--new {
    background: #FFFFFF;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.2);
  }

  .header__search-form {
    display: block;

  }
}


header.sticky {
  .header--new__top {
    padding-top: 10px;
  }

  .header--new__logo-link svg {
    width: 151px;
    height: 40px;
  }

  .header--new__buttons {
    .button {
      height: 40px;
    }
  }

  @media (max-width: 1024px) {
    .header--new__top {
      padding-top: 0;
    }
  }

}

.mob-menu-open {
  .header--new__top {
    &:after {
      content: "";
      display: block;
      width: 200vw;
      height: 1px;
      background-color: #EBEDEF;
      position: absolute;
      left: -300px;
      bottom: 0;
    }
  }

  .header--new .button-menu {
    border-bottom: 1px solid #ffffff;
    z-index: 11;
  }

}
