.item-menu-for-mobile {
  display: none;
}

.item-menu-for-desktop {
  display: block;
}

@media screen and (max-width: 768px) {
  .item-menu-for-mobile {
    display: block;
  }
  .item-menu-for-desktop {
    display: none;
  }
}
.header--new {
  border-bottom: 1px solid;
  border-color: #EBEDEF;
}
.header--new .button--icon {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header--new__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  gap: 24px;
  padding-top: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid;
  border-color: #EBEDEF;
}
.header--new__logo-link {
  transition: all 0.3s;
  display: block;
}
.header--new__logo-link svg {
  pointer-events: none;
  transition: all 0.3s;
}
.header--new__logo-link svg * {
  transition: all 0.3s;
}
.header--new__logo-link:hover svg path {
  fill: #303F82;
}
.header--new__buttons {
  display: flex;
  max-width: 265px;
  gap: 24px;
}
.header--new__buttons .button {
  padding-left: 20px;
  padding-right: 20px;
  height: 48px;
}
.header--new .button--icon {
  transition: all 0.3s;
}
.header--new .button--icon:hover svg path {
  stroke: #fff;
}
.header--new .button-search {
  border: none;
}
.header--new .button-menu {
  border: none;
}
.header--new .button-menu.active::after {
  display: none;
}
.header--new__main-button {
  display: none;
}
.header--new__search-button {
  display: none;
}
.header--new__tel {
  margin-left: auto;
}
.header--new__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.header--new__nav {
  width: calc(100% - 24px - 36px);
}
.header--new__bottom-search {
  max-width: 36px;
}
.header--new .main-nav__list {
  justify-content: space-between;
}
.header--new .main-nav__link {
  padding: 10px 0 13px;
  font-size: 16px;
  line-height: 1.5;
}
.header--new .main-nav__sublist {
  max-width: 408px;
  padding: 25px 24px 27px 32px;
  line-height: 1.2;
  gap: 24px;
}
.header--new .search-form {
  box-shadow: none;
  display: none;
  border-top: 1px solid;
  border-color: #EBEDEF;
  position: relative;
  z-index: -1;
}
@media (max-width: 1390px) {
  .header--new__main-button {
    display: none;
  }
  .header--new__search-button {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header--new__main-button {
    display: block;
  }
  .header--new__search-button {
    display: block;
  }
  .header--new__bottom-search {
    display: none;
  }
  .header--new__nav {
    width: 100%;
    display: none;
  }
  .header--new__top {
    padding: 0;
    border-bottom: none;
    position: relative;
  }
  .header--new .button-menu,
.header--new .button-search {
    height: 80px;
    width: 80px;
  }
  .header--new__main-button {
    display: flex;
  }
  .header--new .button-search {
    width: 79px;
    border-right: 1px solid;
    border-color: #EBEDEF;
  }
  .header--new .button-menu {
    width: 78px;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: #EBEDEF;
  }
  .header--new .main-nav-mobile {
    padding-top: 10px;
  }
  .header--new .main-nav-mobile__link {
    margin-bottom: 0;
  }
  .header--new .sticky .header--new__top {
    padding-top: 0;
  }
  .header--new .button-search {
    background: transparent !important;
    border-color: transparent !important;
    border-bottom: none !important;
    border-right: 1px solid !important;
    border-color: #EBEDEF !important;
  }
}
@media (max-width: 950px) {
  .header--new .button-menu,
.header--new .button-search {
    height: 63px;
    width: 63px;
  }
  .header--new__logo-link svg {
    width: 140px;
  }
  .header--new .tel-link {
    font-size: 16px;
  }
  .header--new__buttons {
    gap: 16px;
  }
  .header--new__buttons .button {
    padding-left: 16px;
    padding-right: 16px;
    height: 40px;
    font-size: 12px;
  }
  .header--new .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header--new .mobile-main-nav {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  .header--new .mobile-main-nav {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 750px) {
  .header--new__tel {
    display: none;
  }
  .header--new__buttons {
    display: none;
  }
}
@media (max-width: 425px) {
  .header--new .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.menu-search {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: all 0.3s;
  cursor: pointer;
}
.menu-search svg {
  pointer-events: none;
  transition: all 0.3s;
}
.menu-search svg * {
  transition: all 0.3s;
}
.menu-search:hover svg circle {
  stroke: #007FAE;
}
.menu-search:hover svg path {
  stroke: #007FAE;
}

.header-search-active .header--new {
  background: #FFFFFF;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.2);
}
.header-search-active .header__search-form {
  display: block;
}

header.sticky .header--new__top {
  padding-top: 10px;
}
header.sticky .header--new__logo-link svg {
  width: 151px;
  height: 40px;
}
header.sticky .header--new__buttons .button {
  height: 40px;
}
@media (max-width: 1024px) {
  header.sticky .header--new__top {
    padding-top: 0;
  }
}

.mob-menu-open {
  /* .header--new__top:after {
    display: none !important;
  } */
}
.mob-menu-open .header--new__top:after {
  content: "";
  display: block;
  width: 200vw;
  height: 1px;
  background-color: #EBEDEF;
  position: absolute;
  left: -300px;
  bottom: 0;
}
.mob-menu-open .header--new .button-menu {
  border-bottom: 1px solid #ffffff;
  z-index: 11;
}/*# sourceMappingURL=style.css.map */